body {
    font-size: 16;
}

.ui.raised.segment {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 70%;
}

.ui.header,
.ui.action.input {
    text-align: center;
    margin-bottom: 5%;
}

.ui.attached.segment {
    width: 70%;
}
